.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  z-index: 1000;
}

.modal__add-students {
  width: 450px;
  position: relative;
  border-radius: 20px;
  padding: 30px 30px;
  background-color: #fefefe;
  box-shadow: 0px 0px 35px rgba(1, 132, 255, 0.2);
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-align: right;
}

.close:hover,
.close:focus {
  color: var(--bs-primary);
  text-decoration: none;
  cursor: pointer;
}

.form__input {
  border: 1px solid var(--bs-primary)
}

.open {
  display: flex;
}

.error .form__input {
  border-color: red;
}

.error-label {
  display: block;
  color: red;
  margin-bottom: 10px;
}


.list__students .students__error {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: var(--bs-danger);
  padding-top: 25px;
}

.list__students td {
  position: relative;
}


.del__button {
  position: absolute;
  top: 46%;
  right: 0;
  transform: translateY(-48%);
  font-size: 30px;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
  border: none;
  background: none;
}

.del__button:hover {
  color: var(--bs-blue);
}
